* {
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

.pixelated {
  image-rendering: pixelated;
}

.translation-box {
  display: inline-block;
}

.translation-label {
  display: block;
}
